.card-wrapper{
  display: flex;
  justify-content: space-between;
  height: 100%;
  &__detail {
    height: 100%;
    position: relative;
  };
  &__content{
    writing-mode: vertical-lr;
    justify-content: space-between;
    display: flex;
    height: 100%;
    position: absolute;
  };
  &__img{
    width: 144px;
    height: 170px;
    &.has-pic{
      background-size: 300% !important;
      transition: background-size .5s;
      &:hover{
        background-size: 100% !important;
      }
    }
  };
  .MuiCardContent-root{
    padding: 0px !important;
  }
  .avatar{
    position: absolute;
    top: -19px;
    right: 0px;
    overflow: visible;
    &__img{
     height: 100%; 
     filter: drop-shadow(5px 5px 2px #9d9c9c);
    }
    &.MuiAvatar-colorDefault{
      background: none;
    }
    &.MuiAvatar-root{
      height: 60px;
      width: 60px;
    }
  }
}

.tag-wrapper{
    writing-mode: horizontal-tb;
    display: flex;
    flex-direction: column;
    width: 60px;
    .MuiChip-root{
      height: 25px;
      margin: 2px 0px;
    }
    .MuiChip-label{
      padding: 0px !important;
    }
}

