.step-wrapper{
  .MuiStepper-root{
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px 0px 10px 0px;
  }
  .MuiStepLabel-label{
    color: black;
  }
  .MuiStep-horizontal{
    padding: 0;
  }
  .chain-pic{
    width:50px;
    margin-bottom: 5px;
  }
}