.popup-wrapper{
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content{
    .picture{
      width: 200px;
      img {
        width: 100%;;
      }
    }
  }
  .MuiDialog-paperWidthSm{
    width:600px
  }
}
.descrption-wrapper{
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 15px;
  .btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }
  &__content{
    min-width: 520px;
  }
} 
.version-btn-wrapper{
  width: 23px;
  height: 23px;
  padding: 0px !important;
  margin-right: 2px !important;
  span img{
    width: 100%;
  }
}