.popup-wrapper{
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__content{
    .picture{
      width: 200px;
      img {
        width: 100%;;
      }
    }
    .wh-block{
      background: whitesmoke;
      border: 2px whitesmoke;
      border-radius: 10px;
      text-align: center;
      .MuiTypography-body1{
        background: white;
        border-radius: 0px 0px 6px 6px;
      }
    }
  }
  .MuiDialog-paperWidthSm{
    width:600px
  }
}


.descrption-wrapper{
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px 15px;
  .btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }
  &__content{
    
  }
} 
.version-btn-wrapper{
  width: 23px;
  height: 23px;
  padding: 0px !important;
  margin-right: 2px !important;
  span img{
    width: 100%;
  }
}

 .stat-wrapper{
   &__block{
     text-align: center;
     flex: 1;
     border-radius: 10px;
     margin: 4px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding: 4px 2px;
     &:nth-child(1){
      margin-left:0px;
     }
     &:nth-child(6){
      margin-right:0px;
     }
   }
   .star{
     font-size: 18px;
   }
 }